*{margin:0 0; padding:0 0;}
#content .bloc .input_css{width:800%;float:left; background:#F7F7F7;}
#content .bloc .input_css .label{margin-top: 15px;}
#content .bloc .input_css label{width:100px; float:left; margin-top: 10px;}
#content .bloc .input label{width:100px; float:left; margin-top:8px;}
#content .bloc .input_css span{display:block; width:180px; float:left;}
#content .bloc .input_css .unit_room_in{width:50px; float:left; margin-right:18px;}
#content .bloc .input_css p{font-weight:900; font-family: "宋体"; font-size:15px; color:black; float:left; display:block; margin-right:10px;}
#content .bloc .input_css .label_check{margin-right: 20px;}
#content .bloc .input_css .sub_in{margin-left:500px; margin-bottom:30px; margin-top:20px;}
#content .bloc .input_css .subm_in{margin-left:150px; margin-bottom:30px; margin-top:20px;}
#content .bloc .dic_ul{margin-bottom:30px;}
